:root{
    --font-size:15px,
}
.footer-car{
    font-family: "Infiniti Regular", "Infiniti Extended Regular", Verdana, Arial, sans-serif;
}

footer section{
    background-color: #040C24;
}
h6 {
    color: #fff;
    font-family: "Infiniti Regular", "Infiniti Extended Regular", Verdana, Arial, sans-serif;
    

}
a{
    font-family: "Infiniti Light", "Infiniti Extended Regular", Verdana, Arial, sans-serif;
    color: #b4b4b4;
    text-decoration: none;
    font-size: 12px;
}
footer a:hover{
    color: #fff;
    text-decoration: underline;
}
.row.mt-3{
    color: #b4b4b4;
}
.footer_icon{
    transform: rotate(0);
}
.text-reset:hover{
    color: #fff;
}