<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
            integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
          integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Title</title>
</head>
<body>
<form action="/search" method="post">
    <input type="text" name="search_text" id="search_text">
    <button type="submit">search</button>
</form>
<div class="search">
    {% if search_text %}
        you searched: {{ search_text }}
        {% if items %}
        <div class="menu">
            <ul>
                {% for row in items %}
                <li>
                    {{row[1]}}
                    {{row[2]}}
                    {{row[3]}}
                    <img src="{{row[4]}}" alt="">
                    {{row[5]}}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
            <h1>khong</h1>
        {% endif %}
    {% endif %}
</div>
</body>
</html>